body {
    margin: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    /*background-color: purple;*/

    .status-bar {
        display: flex;
        gap: 1em;
        font-size: 3em;
    }

    img {
        max-width: 600px;
    }
}

.character {
    position: absolute;
    bottom: 0;
    right: 0;
}

.emotion-message {
    padding: 1em 2em;
    border: 3px dotted black;
    border-radius: 75px;
    font-size: 3em;
    max-width: fit-content;
}